@import "_font.scss";
@import "lib";

body{
  padding: 0px;
  margin: 0px;
  //background: #ffffff;
}
.test{
  display: flex;
  //background: aquamarine;
  flex-direction: row;
  justify-content: center;
  width: 1140px;
  margin: 0 auto;
  height: 120px;
  border-bottom: solid 2px #e6e6e6;;
}
.left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  //background: green;
}
.menu-text{
  margin-left: 10px;
  font-family: Geometria;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2.5px;
  color: #1a1a1a;
}
.menu-tel{
  margin-left: 118px;
  font-family: Geometria;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 1px;

  color: #1a1a1a;
}
.center{
  display: flex;
  flex-basis: 120px;
  //background: red;
  justify-content: center;
  align-items: center;
}
.right{
  flex: 1;
  //background: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.right-magnifying-glass{
margin-right: 20px;
}
.right-heart{
  margin-right: 20px;
}
.right-heart-block,.right-shopping-bag-block{
  position: relative;
}
.right-heart-count, .shopping-bag-count{
  width: 15px;
  height: 15px;
  border: 2px solid red;
  border-radius: 50%;
  //line-height: 12px;  /* подробнее про line-height */
  text-align: center;  /* выравнять текст по середине по горизонтали */
  background: red;
  position: absolute;
  top:-2px;
  font-family: ProximaNova;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.right-heart-count{
  line-height: 11px;
  right: 15px;
}
.shopping-bag-count{
  line-height: 12px;
  right: 15px;
}

.right-shopping-bag{
  margin-right: 20px;
}
.right-user{
  margin-right: 19px;
}

.more-right{
  display: flex;
  flex-direction: row;
}
.money-text, .language-text{
  font-family: Geometria;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #1a1a1a;
}
.language-arrow{
  margin-left: 8px;
}
.money-arrow{
  margin-left: 8px;
  margin-right: 20px;
}
.more-right{
  padding-left: 18px;
  align-items: center;
  height: 60px;
  border-left: solid 3px #e6e6e6;
}


.block-menu{
  //display: flex;
  width: 1140px;
  margin: 0 auto;
  //height: 50px;
  //border-bottom: solid 2px #e6e6e6;
  //background: #9fcdff;
  justify-content: center;
}

.ul-menu{
  //height: 100%;
  list-style-type: none;
  padding: 15px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.ul-menu{
  font-family: Geometria;

  font-size: 16px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1;

  letter-spacing: 3px;

  color: #1a1a1a;
}
.ul-menu-active {

  font-family: Geometria;

  font-size: 16px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1;

  letter-spacing: 3px;

  color: #e83c4d;
}
.single-item{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.single-item .slick-dots{
  position: absolute;
  bottom: 30px;
}
.single-item.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.single-item .slick-dots li button{

  border-radius: 50%;
  background: #ffffff;
  width: 8px;
  height: 8px;
  margin: 4px auto;
}
.single-item .slick-dots li button:before{
  content: '';
}

.single-item .slick-dots li button:hover{
  background: #000000;
}

.single-item .slick-dots li.slick-active button{
  background: #000000;

}

.item{
  width: 100%;
  position: relative;
  text-align: center;

}
.item a{
  position: absolute;
  background: #ffffff;
  padding-top:20px;
  bottom: 100px;
  height: 60px;
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.item img{
  width: 100%;
}

.production{
  display: flex;
  //background: aquamarine;
  flex-direction: column;
  width: 1140px;
  margin: 0 auto;
}
.production-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.production-header-text{

}
.production-header-menu{
  position: absolute;
  right: 0px;
}
.production-slider{
  //background: #ffffff;
  position: relative;
  height: 500px;
}
.production-product-slider-item{
  width: 263px;
  height: 263px;
  border: solid 1px #e6e6e6;
  //background: #0c5460;
  padding: 0 15px;
}

.production-slider .slick-dots{
  position: absolute;
  bottom: 0px;
}
.production-slider.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.production-slider .slick-dots li button{

  border-radius: 50%;
  background: #cccccc;
  width: 8px;
  height: 8px;
  margin: 4px auto;
}
.production-slider .slick-dots li button:before{
  content: '';
}

.production-slider .slick-dots li button:hover{
  background: #000000;
}

.production-slider .slick-dots li.slick-active button{
  background: #000000;

}
.production-slider button.slick-prev{
  background: #f6f4f4;
  width: 15px;
  height: 45px;
  z-index: 2;
  top:125px;
  left: 0px;
}
.production-slider button.slick-prev:before{
  content: url("/img/right-chevron-1.svg");
  z-index: 2;
}

.production-slider button.slick-next{
  background: #f6f4f4;
  width: 15px;
  height: 45px;
  z-index: 2;
  top:125px;
  right: 0px;
}
.production-slider button.slick-next:before{
  content: url("/img/right-chevron-1.svg");
  z-index: 2;
}
.infoline-container{
  background: #f6f4f4;
  padding: 60px 0px;
  //height: 265px;
}
.infoline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1140px;
  margin: 0px auto;
}
.infoline-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 144px;
  border-right: solid 1px #e6e6e6;
}

.infoline-item-last{
  border-right: solid 0px #e6e6e6;
}

.infoline-item-header{
  font-family: Geometria;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #1a1a1a;
}

.infoline-item-info{
  width: 165px;
  margin-bottom: 0px;
  margin-top: 5px;
  font-family: Geometria;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 1px;
  text-align: center;
  color: #999999;
}
.infoline-item-icon{
text-align: center;
  padding-bottom: 10px;
  //height: 100px;
}