@import "_font.scss";
@import "lib";
$main-text-color: #1a1a1a;
$second-text-color: #999999;
$hover-text-color: #e83c4d;

body{
  padding: 0px;
  margin: 0px;
}
a:visited{
  color: unset;
}
.header-flex-container{
  position: relative;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #e6e6e6;
  .header-container__left {
    display: flex;
    flex-direction: row;
    flex:1;
    .left-menu__wrapper-background{
      cursor: grab;
      position: fixed;
      left: 0px;
      top: 50%;
      opacity: 0.3;
      width: 100%;
      height: 0px;
      background: #000000;
      z-index: 4;
    }
    .left-menu__wrapper{
      position: fixed;
      left: 0px;
      top: 0px;
      width: 0px;
      height: 100vh;
      background: #ffffff;
      z-index: 5;
      overflow: auto;
      .left-menu__menu{
        top: 31px;
        width: 435px;
        right: 60px;
        position: absolute;
        .left-menu{
          padding: 0px;
          margin: 0px;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          li{
            padding: 27px 0px 28px 0px;
            margin-bottom: 0px;
            border-bottom: solid 1px #e6e6e6;
            position: relative;
            &.menu-item-has-children{
              cursor: pointer;
              a::after{
                position: absolute;
                top: 34px;
                right: -2px;
                font-size: 8px;
                font-family: icomoon;
                content: "\e900";
                color: #1a1a1a;
              }
            }
            a{
              font-family: Geometria Bold;
              font-size: 20px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1;
              letter-spacing: 2.5px;
              color: #1a1a1a;
              text-transform: uppercase;
              &:hover{
                text-decoration: none;
              }
            }
            ul.sub-menu{
              display: none;
              list-style-type: none;
              padding: 0px;
              margin: 0px;
              margin-top: 24px;
              li {
                border-bottom: none;
                padding: 0px;
                margin: 0px;
                margin-top: 9px;
                a {
                  font-family: Geometria;
                  font-size: 16px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1;
                  letter-spacing: normal;
                  color: #999999;
                  text-transform: unset;
                  &:hover {
                    text-decoration: none;
                  }
                  &::after{
                    content: none !important;
                  }
                }
              }
            }
          }
        }
      }
      .left-menu__close-button{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 20px;
      }
    }
      .header-container__phone{
        width: 100%;
        margin: auto 0px auto 118px;
      }
  }
  .header-container__center-logo{
    display: flex;
    justify-content: center;
    width: 120px;
    padding: 15px 0;
  }

  .header-container__right{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
      .header-container__right-drop-lists{
        align-items: center;
        display: flex;
        flex-direction: row;
        border-left: solid 1px #e6e6e6;
        height: 60px;
        width: 128px;
      }
  }
}

.right-drop-list{
  position: relative;
  margin-left: 20px;
  .right-drop-list__header{
    font-family: Geometria Medium;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
    &::after{
      margin-left: 8px;
      margin-bottom: 2px;
      font-size: 10px;
      font-family: icomoon;
      content: "\e900";
      color: #1a1a1a;
    }
  }
  .right-drop-list__container{
    border: 1px solid #cccccc;
    position: absolute;
    display: none;
    background: #ffffff;
    z-index: 20;
    //display: flex;
    flex-direction: column;
    align-items: center;
    .qtranxs_widget{
      margin-bottom: 0px;
      .language-chooser{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li{
          a {
            padding: 5px 8px;
            font-family: Geometria Medium;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-transform: uppercase;
            color: #1a1a1a;
            &:hover{
              background: #b8daff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .right-drop-list__container_active{
      display: flex;
  }
  .right-drop-list__item{
      padding: 5px 8px;
      font-family: Geometria Medium;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
      &:hover{
        background: #b8daff;
        text-decoration: none;
    }
  }
}

.menu-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover{
    color: #e83c4d;
    .menu-button__text{
      color: #e83c4d;
    }
  }
    .menu-button__logo {
      font-size: 30px;
      margin-top: 3px;
      line-height: 1;
    }
    .menu-button__text {

      margin-left: 10px;
      font-family: Geometria Medium;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2.5px;
      color: #1a1a1a;
    }

}

.contact {
  display: block;
  font-family: Geometria;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 1px;
  color: #1a1a1a;
}
.contact:hover {
  color: #e83c4d;
  text-decoration: none;
}
.interface-item {
  &:last-child{
    margin-right: 17px;
  }
  margin-right: 19px;
  position: relative;
  .interface-item__icon{
    font-size:25px;
    vertical-align: middle;
  }
  &:hover{
    color: #e83c4d;
    cursor: pointer;
  }
  .interface-item__counter{
    width: 15px;
    height: 15px;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
    //line-height: 12px;  /* подробнее про line-height */
    text-align: center;  /* выравнять текст по середине по горизонтали */
    background: red;
    position: absolute;
    top:0px;
    right: -5px;
    font-family: Geometria Medium;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    line-height: 12px;
  }
}
.interface-item_product-menu {
  margin: 0px;
  padding: 10px;
  border: solid 1px #cccccc;
  &:last-child{
    margin-right: unset;
  }
}
.top-menu-changer{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 19px;

  .top-menu-changer__text{
    font-family: Geometria Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: 2.63px;
    text-align: center;
    color: #1a1a1a;
    text-transform: uppercase;
  }
  .top-menu-changer__arrow{
    font-size: 10px;
  }

}
.top-menu {
  margin: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  .top-menu__item{
    padding: 17px 0px 13px 0px;
    &:hover{
      .top-menu__item-container{
        //display: block;
      }
      .top-menu__item-url{
        &:after{
          width: 100%;
        }
      }
    }
    .top-menu__item-url{
      position:relative;

      text-decoration: none;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 3px;
      color: #1a1a1a;
      text-transform: uppercase;
      box-sizing: border-box;
      &:after{
        position: absolute;
        left:50%;
        top: 30px;
        display: block;
        content: "";
        height: 2px;
        width: 0px;
        background-color: #e83c4d;

        transition: width .3s ease-in-out;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        transform:translateX(-50%);
      }
    }
    .top-menu__item-url_hot{
      color: #e83c4d;
    }
  }
  .top-menu__item-container{
    position: absolute;

    display: none;
    background: #ffffff;

    //width: 100vw;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    right: 50%;
    //top:54px;
    //top:100%;
    bottom: -254px;
    height: 254px;

    border-top: solid 1px #e6e6e6;
    z-index: 3;
     .top-menu__item-container-inside{


       margin: 0px -11px;
//background: red;
       display: flex;
       flex-direction: row;


       //flex-direction: column;

       justify-content: space-between;
       align-items: center;
       justify-content: flex-start;

       //align-items: flex-start;


       .top-menu__item-container-item{
         &:last-child{
           border-right: none;
           width: 289px;
         }

         margin: 60px 0px;

         display: flex;
         flex-direction: column;
         width: 291px;

         border-right: solid 1px #e6e6e6;
         align-items: center;


         //align-items: flex-start;


         height: 134px;

         color: #1a1a1a;
         &:hover{
           text-decoration: none;
           color: #e83c4d;
         }
          img{
            height: 90px;
            //display: none;
          }
          .top-menu__item-container-item-header {
            margin-top: 32px;
            //margin-top: 15px;
            font-family: Geometria;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 2px;
            text-align: center;

            text-transform: uppercase;
          }
       }
     }
  }
}
.main-slider_mob{
  display: none !important;
}

.main-slider{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
    .main-slider__item{
      width: 100%;
      position: relative;
      text-align: center;
    }
    .main-slider__item_mob{
      display: none !important;
    }
    .main-slider__button{
      position: absolute;
      background: #ffffff;
      transform: translateX(-50%);
      padding: 23px 19px;
      bottom: 100px;

      text-transform: uppercase;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      &:hover{
        text-decoration: none;
      }
  }
    .main-slider__item img{
      width: 100%;
    }
}

.slider__dots_main-theme{
    .slick-dots {
      position: absolute;
      bottom: 29px;
      .slick-dotted.slick-slider {
        margin-bottom: 0px;
      }
        li {
          margin: 0px -1px 0px -1px;
          button {
            border-radius: 50%;
            background: #ffffff;
            width: 8px;
            height: 8px;
            margin: 4px auto;
            padding: 0px;
          }
          button:before{
            content: '';
          }
          button:hover{
            background: #1a1a1a;
          }
        }
        li.slick-active button{
          background: #1a1a1a;
        }
    }
}

.slider__dots_our-productions-style{
  .slick-dots {
    li button {
      background: #cccccc;
    }
  }
}

.slider__arrows_main-theme{
  button.slick-prev{
    background: #f6f4f4;
    width: 15px;
    height: 45px;
    z-index: 3;
    top:132px;
    left: -3px;
  }
  button.slick-prev:before{
    font-size: 11px;
    font-family: icomoon;
    content: "\e912";
    color: #1a1a1a;
    z-index: 3;
  }
  button.slick-next{
    background: #f6f4f4;
    width: 15px;
    height: 45px;
    z-index: 3;
    top:132px;
    right: -4px;
  }
  button.slick-next:before{
    font-size: 11px;
    font-family: icomoon;
    content: "\e911";
    color: #1a1a1a;
    z-index: 3;
  }
}

.our-productions{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    .our-productions__top{
      padding: 25px 0px 55px 0px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

        .our-productions__header{
          margin-top: 3px;
          white-space: nowrap;
          font-family: Geometria Bold;
          font-size: 24px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 3px;
          text-align: center;
          color: #1a1a1a;
          text-transform: uppercase;
          margin-left: 50%;
          transform: translateX(-50%);
        }
        .our-productions__tabs{
          margin-left: auto;
          margin-right: 0px;
          .nav{
            //width: 250px;
            //padding-top: 20px;
          }
          a{
            margin-left: 30px;
            font-family: Geometria Bold;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 2px;
            color: #999999;
            text-transform: uppercase;
            text-decoration: none;
          }
          .active{
            color: #1a1a1a;
          }
        }
    }
}

.production-slider{
  margin-bottom: 23px !important;

  position: relative;
  height: 428px;
  //margin: 0 -15px;
  .slick-track{
    margin-left: -15px;
  }
  .slick-slide {
    padding: 0 15px;
  }
    .production-slider__item{
      position: relative;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      text-align: center;

      &:hover{
        .production-slider__item-control-panel{
          opacity: 100;
        }
      }
      .production-slider__item-url{
        &:hover{
          text-decoration: none;
          .production-slider__item-name {
            color: #e83c4d;
          }
        }
      }
        .production-slider__item-img{
          border: solid 1px #e6e6e6;
          margin-bottom: 13px;
          width: 263px;

          //margin-left: 50%;
          //transform: translateX(-50%);

        }

        .production-slider__item-control-panel{
          position: absolute;
          bottom:80px;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.1s ease-out;

          display: flex;
          flex-direction: row;
          background-color: #f6f4f4;
        }
        .production-slider__item-name{
          //margin-top: 10px;
          font-family: Geometria;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 1px;
          text-align: center;
          color: #1a1a1a;
        }
        .production-slider__item-prices{
          margin-top: 4px;
        }
        .production-slider__item-price{
          font-family: Geometria Bold;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #1a1a1a;
        }
        .production-slider__item-old-price{
          margin-left: 10px;
          text-decoration: line-through;
          font-family: Geometria;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #999999;
        }
        .production-slider_extend-info{
          position: absolute;
          top:15px;
          left: 15px;
          width: 45px;
          height: 45px;
          background-color: #f6f4f4;
          font-family: Geometria;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 45px;
          letter-spacing: normal;
          text-align: center;
          color: #1a1a1a;
          vertical-align: center;
        }
    }
}

.grey-container{
  background: #f6f4f4;
  padding: 60px 0px;
}
.infoline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .slick-track{
    margin-left: -10px;
    margin-right: 10px;
  }
  .slick-slide {
    //padding: 0 70px;
    //width: 195px;
  }

  &:first-child{
    //margin-left: 3px;
  }
  .infoline__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    //flex: 1 1 193px;
    width: 194px;
    height: 144px;
    border-right: solid 1px #e6e6e6;
  }
  .infoline__item_last{
    border-right: none;
  }
  .infoline__header{
    margin-bottom: 15px;
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a;
  }
  .infoline__info{
    width: 165px;
    margin-bottom: -5px;
    //margin-top: 5px;
    font-family: Geometria;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 1px;
    text-align: center;
    color: #999999;
  }
  .infoline__icon{
    text-align: center;
    margin-bottom: auto;
    //padding-bottom: 15px;
  }
}

.news-container{
  display: flex;
  flex-direction: column;
  align-items: center;
    .news-container__news{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  .news-container__header{
    padding: 65px 0px 56px 0px;
    font-family: Geometria Bold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: #1a1a1a;
    text-transform: uppercase;
  }
  .news-container__button{
    margin: 75px 0px 79px 0px;
  }
}

.main-theme-button{
  font-family: Geometria;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  padding: 23px 56px;
  background-color: #1a1a1a;
  text-transform: uppercase;

  &:hover{
    text-decoration: none;
    color: #ffffff;
  }
  &:visited{
    color: #ffffff;
  }
}
.news-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  //flex: 1 1 550px;
  width: 555px;

  position: relative;
  overflow: hidden;
  &:hover{
    .news-block__header:after{
      top: 5px;
    }
  }
    .news-block__header{
      padding: 20px 0 12px 0px;
      width: 495px;
      font-family: Geometria Bold;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;

      &:hover{
        color: #e83c4d;
      }

      &:after{
        position: absolute;
        content: "Читати далі..";
        color: #e83c4d;
        z-index: 10;
        top: -50px;
        //top:5px;
        left: 50%;
        padding: 15px 30px;
        transform: translateX(-50%);
        background-color: rgba(27, 27, 27, 0.8);
        text-shadow: 1px 1px black;
        //opacity: 0.5;
        transition: top .3s ease-in-out, left .3s ease-in-out;
        //transition: ;
        //padding: 200px;
      }

    }
    .news-block__desc{
      width: 495px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  .about__header{
    margin-top: 5px;
    padding-bottom: 60px;
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: #1a1a1a;
    text-transform: uppercase;
  }
  .about__desc{
    width: 946px;
    font-family: Geometria;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1px;
    text-align: center;
    color: #1a1a1a;
  }
  .about__desc_second{
    margin-top: 20px;
  }
  .about__button{
    margin-top: 74px;
    padding-bottom: 20px;
    .main-theme-button{
      padding: 23px 40px;
    }
  }
}
.photo-tape{
  display: flex;
  flex-direction: column;
  text-align: center;
  .photo-tape__header{
    padding: 65px 0 55px;
    font-family: Geometria Bold;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: #1a1a1a;
    text-transform: uppercase;
  }
  .photo-tape__photos{
    display: flex;
    flex-direction: row;
    width: 100%;
      .photo-tape__photo{
        flex: 1 1 auto;
        img{
          width: 100%;
        }
      }
  }
}
.subscribe-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 55px;
  flex-wrap: wrap;
  .subscribe-container__header{
    flex-basis: 420px;
    margin-bottom: 12px;
    font-family: Geometria Bold;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #1a1a1a;
    text-transform: uppercase;
  }
  .subscribe-container__text-box{
    margin-left: 38px;
    flex: auto;
    position: relative;
  }
  input{
    padding-top: 12px;
    padding-left: 18px;
    height: 60px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-family: Geometria;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #b3b3b3;
  }
  .subscribe-container__submit-bnt{
    position: absolute;
    top: 17px;
    right: 5px;
    font-size: 10px;
  }
}

.footer-container{
  padding-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //width: 100%;
  flex-wrap: wrap;
    .footer-container__item{
      display: flex;
      flex-direction: column;
      width: 228px;
      justify-content: flex-start;
      //flex: 0 0 300px;
      //width: 500px;
      //flex-wrap: wrap;

      .menu-footer{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li{
          a{
            padding-bottom: 16px;
            margin-bottom: 16px;
            font-family: Geometria Bold;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: 2px;
            color: #1a1a1a;
            text-transform: uppercase;
            &:hover{
              text-decoration: none;
              color: black;
            }
          }
          ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            padding-top: 10px;
            li {
              padding-bottom: 4px;
              a {
                font-family: Geometria;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: #999999;
                text-transform: unset;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      .footer_container_soc{
        display: flex;
        flex-direction: row;
        margin-top: 23px;
        margin-left: 2px;
      }
    }
}
.contact-footer{
  font-size: 14px;
  padding: 5px 0 7px;
  margin-top: 1px;
  //margin-bottom: 14px;
  line-height: 1;
  letter-spacing: 0px;
}
.contact-footer-bot{
  font-size: 14px;
  line-height: 0;
  margin-top: auto;
  margin-bottom: 10px;
  letter-spacing: 0px;
  span{
    margin-top: 2px;
    padding-left: 8px;
    letter-spacing: 1px;
    font-size: 15px;
  }
}
.contact-soc{
  font-size: 24px;
  margin-right: 20px;
}
.grey-container__footer{
  background-color: #f6f4f4;
}
.copyright-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
  padding: 15px 0;
  .copyright-container__left{
    font-family: Geometria;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #1a1a1a;
  }
  .copyright-container__right {

  }
}