@media (min-width: 1199px)  {
  .top-menu {
    .top-menu__item {
      &:hover {
        .top-menu__item-container {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .container {
    max-width: 750px;
  }

  .header-container {
    .header-container__left {
      margin-right: auto;
      .header-container__phone{
        display: none;
      }
      .menu-button__text{
        margin-top: 9px;
      }


      .left-menu__wrapper {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 0px;
        height: 100vh;
        background: #ffffff;
        z-index: 5;
        overflow: auto;
        .left-menu__menu{
          top:50px;
        }
        .left-menu__top-block {
          z-index: 5;
          //background: red;
          margin-left: 50%;
          transform: translateX(-50%);
          width: 435px;
          height: 31px;
          border-bottom: solid 1px #e6e6e6;
          .header-container__right-drop-lists {
            margin-top: 20px;
            display: flex;

            .right-drop-list {
              background: #ffffff;
              margin-left: 0px;
              margin-right: 19px;
            }
          }
        }
      }


    }

    .header-container__center-logo{
      img{
        width: 60px;
      }
    }
    .header-container__right {
      margin-top: 15px;
      align-items: flex-start;
      justify-content: flex-end;
      padding-bottom: 15px;
      .header-container__right-drop-lists {
        display: none;
      }
    }
  }

  .interface-item {
    margin: 0px 0px 0px 20px;
    position: relative;
  }
  .main-slider__button{
    display: none;
  }


  .header-menu-container{
    &:hover{
      .top-menu{
        //display: flex;
      }
    }
  }
  .top-menu-changer {
    position: relative;
    display: flex;
    padding: 23px 0 19px;
    .top-menu-changer__text{
      font-family: Geometria;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 3px;
      text-align: center;
      color: #1a1a1a;
    }
    //padding-bottom: 22px;
  }
  .top-menu {
    display: none;
    flex-direction: column;
    margin: 0px;
    padding-left: 0px;
    justify-content: space-between;
    list-style: none;

    position: relative;
    .top-menu__item_dropdown{
      &:after{
        position: absolute;
        top: 5px;
        right: 1px;
        font-size: 8px;
        font-family: icomoon;
        content: "\e900";
        color: #1a1a1a;
      }
    }
    .top-menu__item{
      padding: 5px 0px 12px;
      position: relative;
      &:hover{
        .top-menu__item-container{
          //display: unset;
        }
      }
      .top-menu__item-url{
        font-family: Geometria Bold;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2.25px;
        text-align: center;
        //color: #1a1a1a;
        &:after{
          display: none;
        }
      }
    }
    .top-menu__item-container{
      bottom: unset;
      position: relative;
      border: none;
      display: none;
      background: #ffffff;
      width: unset;
      transform: none;
      left: unset;
      right: unset;
      top: unset;
      height: unset;
      .container{
        padding: 0px;
      }
      .top-menu__item-container-inside{
        margin: 10px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .top-menu__item-container-item{
          margin: 0px 0px 10px 0px;
          display: flex;
          flex-direction: column;
          width: 290px;
          border-right: none;
          align-items: flex-start;
          height: unset;
          img{
            display: none;
          }
          .top-menu__item-container-item-header {
            margin-top: 4px;
            font-family: Geometria;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #999999;
            text-transform: unset;
          }
        }
      }
    }
  }
  .slider__dots_main-theme{
    .slick-dots {
      bottom: 15px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }

  .interface-item_product-menu {
    margin: 0px;
    padding: 10px;
    border: solid 1px #cccccc;
    &:last-child{
      margin-right: unset;
    }
  }
  .production-slider{
    margin-bottom: 0px !important;
    position: relative;
    height: 385px;
    .slick-track{
      margin-left: -15px;
    }
    .slick-slide {
      padding: 0 15px;
    }
    .production-slider__item{
      .production-slider__item-control-panel{
        opacity: 100;
      }
      .production-slider__item-img{
        width: 219px;
      }
    }
  }

  .slider__dots_main-theme{
    .slick-dots {
      bottom: 41px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }


  .grey-container{
    background: #f6f4f4;
    padding: 50px 0px 35px;
  }
  .our-productions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .our-productions__top{
      padding: 15px 0px 23px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .our-productions__header{
        //padding-top: 0px;
        margin-top: 1px;
        font-family: Geometria Bold;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2.5px;
        text-align: center;
        color: #1a1a1a;
        text-transform: uppercase;
        margin-left: unset;
        transform: unset;
      }
      .our-productions__tabs{
        margin-left: 0px;
        margin-top: 23px;
        .nav{
          //width: 250px;
          //padding-top: 20px;
        }
        a{
          font-family: Geometria Bold;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: 1.71px;
          color: #999999;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0px 10px 0px;
        }
        .active{
          color: #1a1a1a;
        }
      }
    }
  }

  .slider__arrows_main-theme{
    button.slick-prev{
      top:112px;
      left: -1px;
    }
    button.slick-next{
      z-index: 3;
      top:111px;
      right: -1px;
    }
  }


  .slider__arrows_info-theme{
    button.slick-prev{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:65px;
      left: -3px;
    }
    button.slick-prev:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e912";
      color: #1a1a1a;
      z-index: 3;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:65px;
      right: -3px;
    }
    button.slick-next:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e911";
      color: #1a1a1a;
      z-index: 3;
    }
  }


  .infoline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .slick-track{
      margin-left: -0px;
      margin-right: 0px;
    }
    .slick-slide {
      //padding: 0 70px;
      //width: 195px;
    }

    &:first-child{
      //margin-left: 3px;
    }
    .infoline__item{
      //margin-left: 50px;
      padding-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //flex: 1 1 193px;
      width: 240px;
      height: 144px;
      border-right: none;
    }
    .infoline__item_last{
      border-right: none;
    }
    .infoline__header{
      margin-bottom: 15px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
    }
    .infoline__info{
      width: 219px;
      margin-bottom: 14px;
      //margin-top: 5px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      text-align: center;
      color: #999999;
    }
    .infoline__icon{
      text-align: center;
      margin-bottom: auto;
      //padding-bottom: 15px;
    }
  }

  .news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .news-container__news{
      margin-top: 20px;
      //margin: 20px -15px 0px -15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .news-container__header{
      padding: 52px 0px 26px 0px;
      font-family: Geometria Bold;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2.5px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .news-container__button{
      margin: 65px 0px 67px 0px;
    }
  }
  .main-theme-button{
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    padding: 23px 56px 23px;
    color: #ffffff;
    text-transform: uppercase;

    &:hover{
      color: #ffffff;
      text-decoration: none;
    }
  }

  .news-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin-bottom: 26px;
    &:last-child{
      margin-bottom: 0px;
    }
    //flex: 1 1 550px;
    width: 555px;
    .news-block__header{
      //white-space: nowrap;
      //white-space: normal;

      //padding: 20px 0 10px 0px;
      height: 60px;
      width: 290px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.8px;
      text-align: center;
      color: #1a1a1a;
    }
    .news-block__desc{
      overflow: hidden;
      margin-top: 13px;
      width: 314px;
      height: 80px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
  }

  .news-block__img{
    width: 344px;
  }



  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__header{
      margin-top: 6px;
      padding-top: 0px;
      padding-bottom: 49px;
      font-family: Geometria;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2.5px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .about__desc{
      width: 720px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
    .about__desc_second{
      margin-top: 20px;
    }
    .about__button{
      margin-top: 64px;
      margin-bottom: 13px;
      padding-bottom: 20px;
      .main-theme-button{
        padding: 23px 40px;
      }
    }
  }
  .photo-tape {

    .photo-tape__header {
      padding: 55px 0 45px;
      font-family: Geometria Bold;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2.5px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .photo-tape__photos{
      flex-wrap: wrap;
      .photo-tape__photo{
        flex: 1 1 160px;
        img{
          width: 100%;
        }
      }
    }
  }

  .subscribe-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 53px 0px 0px;
    flex-wrap: wrap;
    .subscribe-container__header{
      flex-basis: 420px;
      margin-bottom: 12px;
      font-family: Geometria Bold;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2.25px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .subscribe-container__text-box{
      margin-left: 0px;
      margin-top: 35px;
      flex: auto;
      flex-basis: 720px;
      position: relative;
    }
    input{
      padding-top: 12px;
      padding-left: 15px;
      height: 60px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #b3b3b3;
    }
    .subscribe-container__submit-bnt{
      position: absolute;
      top: 17px;
      right: 5px;
      font-size: 10px;
    }
  }


  .footer-container{
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    //width: 100%;
    flex-wrap: wrap;
    .footer-container__item{
      display: flex;
      flex-direction: column;
      //flex: 1;
      flex-basis: 153px;
      //width: 153px;
      justify-content: flex-start;
      //flex: 0 0 300px;
      //width: 500px;
      //flex-wrap: wrap;
      &:last-child{
        flex: 1;
        align-items: center;
        ul{
          display: none;
        }
        .footer_container__toggle{
          margin-top: 84px;
          display: flex;
          flex-direction: column;
          //justify-content: center;
          align-items: center;
        }
      }

      .menu-footer{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li{
          a{
            padding-bottom: 16px;
            margin-bottom: 16px;
            font-family: Geometria Bold;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: 2px;
            color: #1a1a1a;
            text-transform: uppercase;
            &:hover{
              text-decoration: none;
              color: black;
            }
          }
          ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            padding-top: 10px;
            li {
              padding-bottom: 4px;
              a {
                font-family: Geometria;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: #999999;
                text-transform: unset;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      .footer_container_soc{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 23px;
        margin-left: 2px;
        text-align: center;
      }
    }
  }
  .contact-footer{
    font-size: 14px;
    padding: 5px 0 7px;
    margin-top: 1px;
    //margin-bottom: 14px;
    line-height: 1;
    letter-spacing: 0px;
  }
  .contact-footer-bot{
    font-size: 14px;
    line-height: 0;
    margin-top: auto;
    margin-bottom: 10px;
    letter-spacing: 0px;
    span{
      margin-top: 2px;
      padding-left: 8px;
      letter-spacing: 1px;
      font-size: 15px;
    }
  }
  .contact-soc{
    font-size: 24px;
    margin: 0px 10px;
  }

  .copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    padding: 15px 0 13px;

    .copyright-container__left {
      font-family: Geometria;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
    }

    .copyright-container__right {

    }
  }

}





@media (max-width: 767px) {
  .header-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    .header-container__left {
      flex: 0;
      margin-right: auto;


      .left-menu__wrapper-background{
        cursor: grab;
        position: fixed;
        left: 0px;
        top: 50%;
        opacity: 0.3;
        width: 100%;
        height: 0px;
        background: #000000;
        z-index: 4;
      }
      .left-menu__wrapper{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 0px;
        height: 100vh;
        background: #ffffff;
        z-index: 5;
        overflow: auto;
        .left-menu__top-block{
          //background: red;
          margin-left: 50%;
          transform: translateX(-50%);
          width: 290px;
          height: 31px;
          border-bottom: solid 1px #e6e6e6;
          .header-container__right-drop-lists {
            margin-top: 14px;
            display: flex;
            .right-drop-list{
              margin-left: 0px;
              margin-right: 19px;
            }
          }
        }
        .left-menu__menu{
          top: 37px;
          width: 290px;
          right: 15px;
          position: absolute;
          .left-menu{
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            li{
              padding: 19px 0px 0px 0px;
              margin-bottom: 0px;
              border-bottom: none;
              position: relative;
              &.menu-item-has-children{
                cursor: pointer;
                a::after{
                  position: absolute;
                  top: 34px;
                  right: -2px;
                  font-size: 8px;
                  font-family: icomoon;
                  content: "\e900";
                  color: #1a1a1a;
                }
              }
              a{
                font-family: Geometria Bold;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 2.25px;
                color: #1a1a1a;
                text-transform: uppercase;
                &:hover{
                  text-decoration: none;
                }
              }
              ul.sub-menu{
                display: none;
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                margin-top: 10px;
                li {
                  border-bottom: none;
                  padding: 0px;
                  margin: 0px;
                  margin-top: 4px;
                  a {
                    font-family: Geometria;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #999999;
                    text-transform: unset;
                    &:hover {
                      text-decoration: none;
                    }
                    &::after{
                      content: none !important;
                    }
                  }
                }
              }
            }
          }
        }
        .left-menu__close-button{
          cursor: pointer;
          position: absolute;
          top: 8px;
          right: 15px;
          font-size: 20px;
        }
      }


      .menu-button__logo{
        padding-top: 25px;
        font-size: 25px;
      }
      .menu-button__text{
        display: none;
      }
      .header-container__phone{
        display: none;
      }
    }
    .header-container__center-logo{
      margin-right: 50%;
      transform: translateX(50%);
      display: flex;
      //flex:1;
      justify-content: center;
      width: 50px;
      padding: 15px 0;
      img{
        width: 50px;
      }
    }
    .header-container__right {
      margin-top: 15px;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 15px;
      .header-container__right-drop-lists {
        display: none;
      }
    }
  }

  .interface-item {
    margin: 0px 20px;
    position: relative;
  }
  .main-slider__button{
    display: none;
  }

  .top-menu-changer {
    display: flex;
    position: relative;
    //padding-bottom: 22px;
  }
  .top-menu {
    display: none;
    flex-direction: column;
    margin: 0px;
    padding-left: 0px;
    justify-content: space-between;
    list-style: none;
    position: relative;
    .top-menu__item_dropdown{
      &:after{
        position: absolute;
        top: 5px;
        right: 1px;
        font-size: 8px;
        font-family: icomoon;
        content: "\e900";
        color: #1a1a1a;
      }
    }
    .top-menu__item{
      position: relative;
      padding: 5px 0px 12px;
      &:hover{
        .top-menu__item-container{
          //display: unset;
        }
      }
      .top-menu__item-url{
        font-family: Geometria Bold;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2.25px;
        text-align: center;
        //color: #1a1a1a;
        &:after{
          display: none;
        }
      }
    }
    .top-menu__item-container{
      bottom: unset;
      position: relative;
      border: none;
      display: none;
      background: #ffffff;
      width: unset;
      transform: none;
      left: unset;
      right: unset;
      top: unset;
      height: unset;
      .container{
        padding: 0px;
      }
      .top-menu__item-container-inside{
        margin: 10px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .top-menu__item-container-item{
          margin: 0px 0px 10px 0px;
          display: flex;
          flex-direction: column;
          width: 290px;
          border-right: none;
          align-items: flex-start;
          height: unset;
          img{
            display: none;
          }
          .top-menu__item-container-item-header {
            margin-top: 4px;
            font-family: Geometria;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #999999;
            text-transform: unset;
          }
        }
      }
    }
  }
  .main-slider_mob{
    display: flex !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0px !important;
  }
  .main-slider_full{
    display: none !important;
  }

  .slider__dots_main-theme{
    .slick-dots {
      bottom: 15px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }

  .production-slider {
    .production-slider__item {
      .production-slider_extend-info {
        left: 140px;
      }
    }
    .slick-dots {
      bottom: 22px;
    }
  }
  .grey-container{
    background: #f6f4f4;
    padding: 30px 0px 13px;
  }
  .our-productions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .our-productions__top{
      padding: 25px 0px 23px 0px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .our-productions__header{
        //padding-top: 0px;
        margin-top: 1px;
        font-family: Geometria Bold;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        text-align: center;
        color: #1a1a1a;
        text-transform: uppercase;
        margin-left: unset;
        transform: unset;
      }
      .our-productions__tabs{
        margin-left: 0px;
        margin-top: 13px;
        .nav{
          //width: 250px;
          //padding-top: 20px;
        }
        a{
          font-family: Geometria Bold;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: 1.71px;
          color: #999999;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0px 10px 0px;
        }
        .active{
          color: #1a1a1a;
        }
      }
    }
  }

  .slider__arrows_main-theme{
    button.slick-prev{
      top:145px;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:145px;
      right: -4px;
    }
  }


  .slider__arrows_info-theme{
    button.slick-prev{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      left: 4px;
    }
    button.slick-prev:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e912";
      color: #1a1a1a;
      z-index: 3;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      right: 4px;
    }
    button.slick-next:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e911";
      color: #1a1a1a;
      z-index: 3;
    }
  }

  .production-slider{
    margin-bottom: 23px !important;
    position: relative;
    height: 417px;
    //margin: 0 -15px;
    .slick-track{
      margin-left: 0px;
    }
    .slick-slide {
      padding: 0 0px;
    }
    .production-slider__item{
      position: relative;
      display: flex !important;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      text-align: center;
      .production-slider__item-img{
        border: solid 1px #e6e6e6;
        margin-bottom: 13px;
        width: 290px;

        //margin-left: 50%;
        //transform: translateX(-50%);

      }

      .production-slider__item-control-panel{
        opacity: 100;
      }

      .production-slider__item-name{
        //margin-top: 10px;
        font-family: Geometria;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;
        color: #1a1a1a;
      }
      .production-slider__item-prices{
        margin-top: 4px;
      }
      .production-slider__item-price{
        font-family: Geometria Bold;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #1a1a1a;
      }
      .production-slider__item-old-price{
        margin-left: 10px;
        text-decoration: line-through;
        font-family: Geometria;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
      }
      .production-slider_extend-info{
        position: absolute;
        top:15px;
        left: 15px;
        left: 50%;
        transform: translateX(-130px);
        width: 45px;
        height: 45px;
        background-color: #f6f4f4;
        font-family: Geometria;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 45px;
        letter-spacing: normal;
        text-align: center;
        color: #1a1a1a;
        vertical-align: center;
      }
    }
  }

  .interface-item_product-menu {
    margin: 0px;
    padding: 10px;
    border: solid 1px #cccccc;
    &:last-child{
      margin-right: unset;
    }
  }

  .infoline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .slick-track{
      margin-left: unset;
      margin-right: unset;
    }
    .slick-slide {
      //padding: 0 70px;
      //width: 195px;
    }

    &:first-child{
      //margin-left: 3px;
    }
    .infoline__item{
      //margin-left: 50px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //flex: 1 1 193px;
      width: auto;
      height: 144px;
      border-right: none;
    }
    .infoline__item_last{
      border-right: none;
    }
    .infoline__header{
      margin-bottom: 15px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
    }
    .infoline__info{
      width: 219px;
      margin-bottom: 14px;
      //margin-top: 5px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      text-align: center;
      color: #999999;
    }
    .infoline__icon{
      text-align: center;
      margin-bottom: auto;
      //padding-bottom: 15px;
    }
  }


  .news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .news-container__news{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .news-container__right{

      }
    }
    .news-container__header{
      padding: 34px 0px 26px 0px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .news-container__button{
      margin: 41px 0px 41px 0px;
    }
  }
  .main-theme-button{
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.71px;
    text-align: center;
    padding: 22px 64px 16px;
    color: #ffffff;
    text-transform: uppercase;

    &:hover{
      color: #ffffff;
      text-decoration: none;
    }
  }

  .news-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
    &:last-child{
      margin-bottom: 0px;
    }
    //flex: 1 1 550px;
    width: 555px;
    .news-block__header{
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //padding: 20px 0 10px 0px;
      height: 60px;
      width: 290px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.8px;
      text-align: center;
      color: #1a1a1a;
    }
    .news-block__desc{
      overflow: hidden;
      margin-top: 13px;
      width: 290px;
      height: 80px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
  }



  .news-block__header{
    width: 300px !important;
  }
  .news-block__desc{
    width: 300px !important;
  }
  .news-block__img{
    width: 290px;
  }
  .news-container__news{
    flex-direction: column !important;
    align-items: center;
  }
  .news-container__left{
    margin-bottom: 26px;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__header{
      margin-top: 5px;
      padding-bottom: 28px;
      font-family: Geometria;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .about__desc{
      width: 290px;
      font-family: Geometria Italic;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
    .about__desc_second{
      margin-top: 20px;
    }
    .about__button{
      margin-top: 43px;
      padding-bottom: 27px;
      .main-theme-button{
        padding: 23px 51px 15px;
      }
    }
  }

  .photo-tape{
    .photo-tape__header{
      padding: 34px 0 26px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .photo-tape__photos{
      flex-wrap: wrap;
      .photo-tape__photo{
        flex: 1 1 160px;
        img{
          width: 100%;
        }
      }
    }
  }
  .subscribe-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 33px 0px 0px;
    flex-wrap: wrap;
    .subscribe-container__header{
      flex-basis: 420px;
      margin-bottom: 12px;
      font-family: Geometria Bold;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.5px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .subscribe-container__text-box{
      margin-left: 0px;
      margin-top: 15px;
      flex: auto;
      position: relative;
    }
    input{
      padding-top: 12px;
      padding-left: 15px;
      height: 50px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #b3b3b3;
    }
    .subscribe-container__submit-bnt{
      position: absolute;
      top: 12px;
      right: 0px;
      font-size: 10px;
    }
  }

  .footer-container{
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //width: 100%;
    flex-wrap: wrap;
    .footer-container__item_partner{
      display: none !important;
    }
    .footer-container__item_last{
      .footer-container__header{
        padding-bottom: 27px !important;
      }
    }
    .footer-container__item{
      display: flex;
      flex-direction: column;
      width: 100%;
      //flex: 0 0 300px;
      //width: 500px;
      //flex-wrap: wrap;
      .footer_container__toggle{

        display: none;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
      }
      .footer_container__toggle_active{
        display: flex;
      }
      .contact-toogle{
        display: none;
      }

          .menu-footer {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            li {
              padding: 0px 0px 22px;
              margin-bottom: 0px;
              border-bottom: none;
              position: relative;
              &:last-child{
                padding-bottom: 18px;
              }

              &.menu-item-has-children {
                cursor: pointer;

                a::after {
                  position: absolute;
                  top: 8px;
                  right: -2px;
                  font-size: 8px;
                  font-family: icomoon;
                  content: "\e900";
                  color: #1a1a1a;
                }
              }

              a {
                font-family: Geometria Bold;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.14;
                letter-spacing: 2px;
                text-align: center;
                color: #1a1a1a;
                text-transform: uppercase;

                &:hover {
                  text-decoration: none;
                }
              }

              ul.sub-menu {
                display: none;
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                margin-top: 5px;

                li {
                  border-bottom: none;
                  padding: 0px;
                  margin: 0px;
                  margin-top: 9px;

                  a {
                    font-family: Geometria;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #999999;
                    text-transform: unset;

                    &:hover {
                      text-decoration: none;
                    }

                    &::after {
                      content: none !important;
                    }
                  }
                }
              }
            }
          }

      .footer_container__toggle{
        margin-top: 5px;
      }
      .footer_container_soc{
        display: flex;
        flex-direction: row;
        margin-top: 23px;
        margin-left: 2px;
        justify-content: space-around;
      }
    }
  }

  .copyright-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    padding: 21px 0 35px;
    .copyright-container__left{
      font-family: Geometria;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
    }
    .copyright-container__right {
      margin-top: 25px;
    }
  }

}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 479px) and (max-width: 755px) {
  .news-block{
    width: 480px;
    .news-block__img{
      width: 380px;
    }
    .news-block__header{
      padding: 20px 0 12px 0px;
      width: 380px !important;
      font-size: 16px;
    }
    .news-block__desc{
      width: 370px !important;
    }
  }

  .about{
    .about__desc{
      width: 420px;
    }
  }

}


@media (min-width: 993px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }



  .header-container {
    .header-container__left {
      .header-container__phone {
        display: none;
      }
    }
  }

  .main-slider {
    .main-slider__button {
      bottom: 60px;
    }
  }

  .infoline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .slick-track{
      margin-left: unset;
      margin-right: unset;
    }
    .slick-slide {
      //padding: 0 70px;
      //width: 195px;
    }

    &:first-child{
      //margin-left: 3px;
    }
    .infoline__item{
      //margin-left: 50px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //flex: 1 1 193px;
      width: auto;
      height: 144px;
      border-right: none;
    }
    .infoline__item_last{
      border-right: none;
    }
    .infoline__header{
      margin-bottom: 15px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
    }
    .infoline__info{
      width: 219px;
      margin-bottom: 14px;
      //margin-top: 5px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      text-align: center;
      color: #999999;
    }
    .infoline__icon{
      text-align: center;
      margin-bottom: auto;
      //padding-bottom: 15px;
    }
  }
  .slider__arrows_info-theme{
    button.slick-prev{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      left: 4px;
    }
    button.slick-prev:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e912";
      color: #1a1a1a;
      z-index: 3;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      right: 4px;
    }
    button.slick-next:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e911";
      color: #1a1a1a;
      z-index: 3;
    }
  }

  .production-slider{
    .slick-track{
      margin-left: 0px;
    }
    .slick-slide {
      padding: 0 0px;
    }
    .production-slider__item{
      display: flex !important;
      .production-slider__item-img{
        width: auto !important;
      }
      .production-slider_extend-info {
        position: absolute;
        left: 50%;
        transform: translateX(-120px);
      }
    }
  }

  .news-block{
    width: 480px;
    .news-block__img{
      width: 435px;
    }
    .news-block__header{
      padding: 20px 0 12px 0px;
      width: 435px;
      font-size: 18px;
    }
    .news-block__desc{
      width: 430px;
    }
  }

  .footer-container{
    flex-wrap: nowrap;
  }



}