@media (min-width: 768px) and (max-width: 1199px){
  .container {
    max-width: 750px;
    background: yellow;
  }

  .header-container {
    .header-container__left {
      margin-right: auto;
      .header-container__phone{
        display: none;
      }
      .menu-button__text{
        margin-top: 9px;
      }
    }

    .header-container__center-logo{
      img{
        width: 60px;
      }
    }
    .header-container__right {
      margin-top: 15px;
      align-items: flex-start;
      justify-content: flex-end;
      padding-bottom: 15px;
      .header-container__right-drop-lists {
        display: none;
      }
    }
  }

  .interface-item {
    margin: 0px 0px 0px 20px;
    position: relative;
  }
  .main-slider__button{
    display: none;
  }


  .header-menu-container{
    &:hover{
      .top-menu{
        display: flex;
      }
    }
  }
  .top-menu-changer {
    display: flex;
    padding: 22px 0px 17px;
    .top-menu-changer__text{
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 3px;
      text-align: center;
      color: #1a1a1a;
    }
  }
  .top-menu {
    display: none;
    flex-direction: column;
    margin: 0px;
    padding-left: 0px;
    justify-content: space-between;
    list-style: none;
    position: relative;
    .top-menu__item{
      padding: 10px 0px ;
      &:hover{
        .top-menu__item-container{
          display: block;
        }
      }
    }
    .top-menu__item-container{
      position: relative;
      border: none;
      display: none;
      background: #ffffff;
      width: unset;
      transform: none;
      left: unset;
      right: unset;
      top: unset;
      height: unset;
      .top-menu__item-container-inside{
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .top-menu__item-container-item{
          margin: 0px 0px 10px 0px;
          display: flex;
          flex-direction: column;
          width: 290px;
          border-right: none;
          align-items: flex-start;
          height: unset;
          img{
            display: none;
          }
          .top-menu__item-container-item-header {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .slider__dots_main-theme{
    .slick-dots {
      bottom: 15px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }

  .production-slider{
    margin-bottom: 0px !important;
    position: relative;
    height: 385px;
    .slick-track{
      margin-left: -15px;
    }
    .slick-slide {
      padding: 0 15px;
    }
    .production-slider__item{

      .production-slider__item-img{
        width: 219px;
      }
    }
  }

  .slider__dots_main-theme{
    .slick-dots {
      bottom: 41px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }


  .grey-container{
    background: #f6f4f4;
    padding: 50px 0px 35px;
  }
  .our-productions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .our-productions__top{
      padding: 15px 0px 23px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .our-productions__header{
        //padding-top: 0px;
        margin-top: 1px;
        font-family: Geometria Bold;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2.5px;
        text-align: center;
        color: #1a1a1a;
        text-transform: uppercase;
        margin-left: unset;
        transform: unset;
      }
      .our-productions__tabs{
        margin-left: 0px;
        margin-top: 23px;
        .nav{
          //width: 250px;
          //padding-top: 20px;
        }
        a{
          font-family: Geometria Bold;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: 1.71px;
          color: #999999;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0px 10px 0px;
        }
        .active{
          color: #1a1a1a;
        }
      }
    }
  }

  .slider__arrows_main-theme{
    button.slick-prev{
      top:112px;
      left: -1px;
    }
    button.slick-next{
      z-index: 3;
      top:111px;
      right: -1px;
    }
  }


  slider__arrows_info-theme{
    button.slick-prev{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      left: 4px;
    }
    button.slick-prev:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e912";
      color: #1a1a1a;
      z-index: 3;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      right: 4px;
    }
    button.slick-next:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e911";
      color: #1a1a1a;
      z-index: 3;
    }
  }


  .infoline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .slick-track{
      margin-left: -0px;
      margin-right: 0px;
    }
    .slick-slide {
      //padding: 0 70px;
      //width: 195px;
    }

    &:first-child{
      //margin-left: 3px;
    }
    .infoline__item{
      //margin-left: 50px;
      padding-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //flex: 1 1 193px;
      width: 240px;
      height: 144px;
      border-right: none;
    }
    .infoline__item_last{
      border-right: none;
    }
    .infoline__header{
      margin-bottom: 15px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
    }
    .infoline__info{
      width: 219px;
      margin-bottom: 14px;
      //margin-top: 5px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      text-align: center;
      color: #999999;
    }
    .infoline__icon{
      text-align: center;
      margin-bottom: auto;
      //padding-bottom: 15px;
    }
  }




}





@media (max-width: 767px) {
  .header-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    .header-container__left {
      flex: 0;
      margin-right: auto;
      .menu-button__logo{
        padding-top: 25px;
        font-size: 25px;
      }
      .menu-button__text{
        display: none;
      }
      .header-container__phone{
        display: none;
      }
    }
    .header-container__center-logo{
      margin-right: 50%;
      transform: translateX(50%);
      display: flex;
      //flex:1;
      justify-content: center;
      width: 50px;
      padding: 15px 0;
      img{
        width: 50px;
      }
    }
    .header-container__right {
      margin-top: 15px;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 15px;
      .header-container__right-drop-lists {
        display: none;
      }
    }
  }

  .interface-item {
    margin: 0px 20px;
    position: relative;
  }
  .main-slider__button{
    display: none;
  }

  .header-menu-container{
    &:hover{
      .top-menu{
        display: flex;
      }
    }
  }
  .top-menu-changer {
    display: flex;
  }
  .top-menu {
    display: none;
    flex-direction: column;
    margin: 0px;
    padding-left: 0px;
    justify-content: space-between;
    list-style: none;
    position: relative;
    .top-menu__item{
      padding: 10px 0px ;
      &:hover{
        .top-menu__item-container{
          display: block;
        }
      }
    }
    .top-menu__item-container{
      position: relative;
      border: none;
      display: none;
      background: #ffffff;
      width: unset;
      transform: none;
      left: unset;
      right: unset;
      top: unset;
      height: unset;
      .top-menu__item-container-inside{
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .top-menu__item-container-item{
          margin: 0px 0px 10px 0px;
          display: flex;
          flex-direction: column;
          width: 290px;
          border-right: none;
          align-items: flex-start;
          height: unset;
          img{
            display: none;
          }
          .top-menu__item-container-item-header {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .main-slider_mob{
    display: flex !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0px !important;
  }
  .main-slider_full{
    display: none !important;
  }

  .slider__dots_main-theme{
    .slick-dots {
      bottom: 15px;
      li {
        button {
          background: #cccccc;
        }
      }
    }
  }

  .production-slider {
    .production-slider__item {
      .production-slider_extend-info {
        left: 140px;
      }
    }
    .slick-dots {
      bottom: 22px;
    }
  }
  .grey-container{
    background: #f6f4f4;
    padding: 30px 0px 13px;
  }
  .our-productions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .our-productions__top{
      padding: 25px 0px 23px 0px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .our-productions__header{
        //padding-top: 0px;
        margin-top: 1px;
        font-family: Geometria Bold;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        text-align: center;
        color: #1a1a1a;
        text-transform: uppercase;
        margin-left: unset;
        transform: unset;
      }
      .our-productions__tabs{
        margin-left: 0px;
        margin-top: 13px;
        .nav{
          //width: 250px;
          //padding-top: 20px;
        }
        a{
          font-family: Geometria Bold;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: 1.71px;
          color: #999999;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0px 10px 0px;
        }
        .active{
          color: #1a1a1a;
        }
      }
    }
  }

  .slider__arrows_main-theme{
    button.slick-prev{
      top:145px;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:145px;
      right: -4px;
    }
  }


  .slider__arrows_info-theme{
    button.slick-prev{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      left: 4px;
    }
    button.slick-prev:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e912";
      color: #1a1a1a;
      z-index: 3;
    }
    button.slick-next{
      background: #f6f4f4;
      width: 15px;
      height: 45px;
      z-index: 3;
      top:63px;
      right: 4px;
    }
    button.slick-next:before{
      font-size: 10px;
      font-family: icomoon;
      content: "\e911";
      color: #1a1a1a;
      z-index: 3;
    }
  }

  .production-slider{
    margin-bottom: 23px !important;
    position: relative;
    height: 417px;
    //margin: 0 -15px;
    .slick-track{
      margin-left: 0px;
    }
    .slick-slide {
      background: red;
      padding: 0 0px;
    }
    .production-slider__item{
      position: relative;
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      text-align: center;
      .production-slider__item-img{
        border: solid 1px #e6e6e6;
        margin-bottom: 13px;
        width: 290px;

        //margin-left: 50%;
        //transform: translateX(-50%);

      }
      .production-slider__item-name{
        //margin-top: 10px;
        font-family: Geometria;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: center;
        color: #1a1a1a;
      }
      .production-slider__item-prices{
        margin-top: 4px;
      }
      .production-slider__item-price{
        font-family: Geometria Bold;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #1a1a1a;
      }
      .production-slider__item-old-price{
        margin-left: 10px;
        text-decoration: line-through;
        font-family: Geometria;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #999999;
      }
      .production-slider_extend-info{
        position: absolute;
        top:15px;
        left: 15px;
        width: 45px;
        height: 45px;
        background-color: #f6f4f4;
        font-family: Geometria;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 45px;
        letter-spacing: normal;
        text-align: center;
        color: #1a1a1a;
        vertical-align: center;
      }
    }
  }


  .infoline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .slick-track{
      //margin-left: -10px;
      //margin-right: 10px;
    }
    .slick-slide {
      //padding: 0 70px;
      //width: 195px;
    }

    &:first-child{
      //margin-left: 3px;
    }
    .infoline__item{
      //margin-left: 50px;
      padding-right: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //flex: 1 1 193px;
      width: 320px;
      height: 144px;
      border-right: none;
    }
    .infoline__item_last{
      border-right: none;
    }
    .infoline__header{
      margin-bottom: 15px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
    }
    .infoline__info{
      width: 219px;
      margin-bottom: 14px;
      //margin-top: 5px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 1px;
      text-align: center;
      color: #999999;
    }
    .infoline__icon{
      text-align: center;
      margin-bottom: auto;
      //padding-bottom: 15px;
    }
  }


  .news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .news-container__news{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .news-container__right{

      }
    }
    .news-container__header{
      padding: 34px 0px 26px 0px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .news-container__button{
      margin: 41px 0px 41px 0px;
    }
  }
  .main-theme-button{
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.71px;
    text-align: center;
    padding: 22px 64px 16px;
    color: #ffffff;
    text-transform: uppercase;

    &:hover{
      color: #ffffff;
      text-decoration: none;
    }
  }

  .news-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    //flex: 1 1 550px;
    width: 555px;

    .news-block__header{
      //white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //padding: 20px 0 10px 0px;
      height: 60px;
      width: 290px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.8px;
      text-align: center;
      color: #1a1a1a;
    }
    .news-block__desc{
      overflow: hidden;
      margin-top: 13px;
      width: 290px;
      height: 80px;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
  }



  .news-block__header{
    width: 300px !important;
  }
  .news-block__desc{
    width: 300px !important;
  }
  .news-block__img{
    width: 290px;
  }
  .news-container__news{
    flex-direction: column !important;
    align-items: center;
  }
  .news-container__left{
    margin-bottom: 26px;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__header{
      margin-top: 5px;
      padding-bottom: 28px;
      font-family: Geometria;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .about__desc{
      width: 290px;
      font-family: Geometria Italic;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      color: #1a1a1a;
    }
    .about__desc_second{
      margin-top: 20px;
    }
    .about__button{
      margin-top: 43px;
      padding-bottom: 27px;
      .main-theme-button{
        padding: 23px 51px 15px;
      }
    }
  }

  .photo-tape{
    .photo-tape__header{
      padding: 34px 0 26px;
      font-family: Geometria Bold;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 2px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .photo-tape__photos{
      flex-wrap: wrap;
      .photo-tape__photo{
        flex: 1 1 160px;
        img{
          width: 100%;
        }
      }
    }
  }
  .subscribe-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 33px 0px 0px;
    flex-wrap: wrap;
    .subscribe-container__header{
      flex-basis: 420px;
      margin-bottom: 12px;
      font-family: Geometria Bold;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.5px;
      text-align: center;
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .subscribe-container__text-box{
      margin-left: 0px;
      margin-top: 15px;
      flex: auto;
      position: relative;
    }
    input{
      padding-top: 12px;
      padding-left: 15px;
      height: 50px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      font-family: Geometria;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #b3b3b3;
    }
    .subscribe-container__submit-bnt{
      position: absolute;
      top: 12px;
      right: 0px;
      font-size: 10px;
    }
  }

  .footer-container{
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //width: 100%;
    flex-wrap: wrap;
    .footer-container__item_partner{
      display: none !important;
    }
    .footer-container__item_last{
      .footer-container__header{
        padding-bottom: 27px !important;
      }
    }
    .footer-container__item{
      display: flex;
      flex-direction: column;
      width: 100%;
      //flex: 0 0 300px;
      //width: 500px;
      //flex-wrap: wrap;
      .footer_container__toggle{
        display: none;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
      }
      .footer_container__toggle_active{
        display: flex;
      }
      .footer-container__header{
        padding-bottom: 31px;
        font-family: Geometria Bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: 2px;
        color: #1a1a1a;
        text-transform: uppercase;
        //padding-right: auto;
        position: relative;
        &:last-child{
          padding-bottom: 27px;
        }

        &::after{
          //margin-left: auto;
          position: absolute;
          top: 3px;
          right: -1px;
          font-size: 8px;
          font-family: icomoon;
          content: "\e900";
          color: #1a1a1a;
        }
      }
      .footer-container__url{
        //display: none;
        padding: 7px 0;
        font-family: Geometria;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #999999;
      }
      .footer_container_soc{
        display: flex;
        flex-direction: row;
        margin-top: 23px;
        margin-left: 2px;
      }
    }
  }

  .copyright-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    padding: 21px 0 35px;
    .copyright-container__left{
      font-family: Geometria;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1a1a1a;
    }
    .copyright-container__right {
      margin-top: 25px;
    }
  }

}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
