<footer>
    <div class="container">
        <div class="subscribe-container">
            <div class="subscribe-container__header">
                Підпишись на новини та акції
            </div>

            <div class="subscribe-container__text-box">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введіть email для підписки">
                        <button type="submit" class="btn subscribe-container__submit-bnt"><span class="icon-right-chevron-1_3"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-container">
            <div class="footer-container__item">
                <ul id="menu-menu-about" class="menu-footer">
                    <li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                        <a href="#">Про компанію</a>
                        <ul class="sub-menu">
                            <li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">Про нас</a></li>
                            <li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a href="#">Галерея</a></li>
                            <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a href="#">Таблиця розмірів</a></li>
                            <li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="#">Новини</a></li>
                            <li id="menu-item-74" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="#">Відгуки</a></li>
                            <li id="menu-item-77" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="#">Контакти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="footer-container__item">
                <ul id="menu-menu-about1" class="menu-footer">
                    <li id="menu-item-691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                        <a href="#">магазин</a>
                        <ul class="sub-menu">
                            <li id="menu-item-701" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">Жінкам</a></li>
                            <li id="menu-item-711" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a href="#">Чоловікам</a></li>
                            <li id="menu-item-721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a href="#">Дітям</a></li>
                            <li id="menu-item-731" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="#">Sale</a></li>
                            <li id="menu-item-741" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="#">Підписка</a></li>
                            <li id="menu-item-742" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a href="#">Подарункові коробки</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="footer-container__item">
                <ul id="menu-menu-about12" class="menu-footer">
                    <li id="menu-item-2134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                        <a href="#">Клієнтам</a>
                        <ul class="sub-menu">
                            <li id="menu-item-7012" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">Питання-відповідь</a></li>
                            <li id="menu-item-7112" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a href="#">Доставка і оплата</a></li>
                            <li id="menu-item-7212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a href="#">Повернення товару</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="contact contact-footer-bot">Прайс-лист  <span class="icon-download"></span></a>
            </div>



            <div class="footer-container__item">
                <ul id="menu-menu-about122" class="menu-footer">
                    <li id="menu-item-6912" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                        <a href="#">Партнерам</a>
                        <ul class="sub-menu">
                            <li id="menu-item-70312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"><a href="#">Опт</a></li>
                            <li id="menu-item-71312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a href="#">Крупний опт</a></li>
                            <li id="menu-item-7231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a href="#">Дропшипінг</a></li>
                            <li id="menu-item-3731" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="#">Корпоративні замовлення</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="footer-container__item">
                <ul id="menu-menu-about12234" class="menu-footer">
                    <li id="menu-item-69412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                        <a href="#">Контакти</a>
                        <ul class="sub-menu">

                        </ul>
                    </li>
                </ul>

                <div class="footer_container__toggle">
                    <a href="#" class="contact contact-footer ">+38 (096) 762-40-96</a>
                    <a href="#" class="contact contact-footer ">Nesterenkoluda.ln@gmail.com</a>

                    <div class="footer_container_soc">
                        <a href="#" class="contact contact-soc"><span class="icon-facebook-logo"></span></a>
                        <a href="#" class="contact contact-soc"><span class="icon-instagram-social-outlined-logo"></span></a>
                        <a href="#" class="contact contact-soc"><span class="icon-twitter-social-outlined-logo"></span></a>
                        <a href="#" class="contact contact-soc"><span class="icon-youtube"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-container__footer">
        <div class="container">
            <div class="copyright-container">
                <div class="copyright-container__left">
                    ©Сopyright 2018 - V&T SOCKS
                </div>

                <div class="copyright-container__right">
                    <img src="img/group.svg"
                         class="Group">
                </div>
            </div>
        </div>
    </div>


</footer>