<header>
    <div class="header-flex-container">
        <div class="container">
            <div class="header-container">
                <div class="header-container__left">
                    <div class="menu-button">
                        <div class="menu-button__logo">
                            <i class="icon-menu"></i>
                        </div>
                        <span class="menu-button__text">
                            MENU
                        </span>
                    </div>

                    <div class="left-menu__wrapper-background">
                    </div>

                    <div class="left-menu__wrapper">
                        <div class="left-menu__top-block">

                        </div>
                        <div class="left-menu__close-button">
<!--                            <img src="img/cross-remove-sign.svg" class="cross-remove-sign">-->
                            <span class="icon-cross-remove-sign close-icon"></span>
                        </div>
                        <div class="left-menu__menu">
                            <ul id="menu-menu-left" class="left-menu">
                                <li id="menu-item-117"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117"><a
                                        href="#">ПРО НАС</a></li>
                                <li id="menu-item-118"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-118"><a
                                        href="#">Галерея</a></li>
                                <li id="menu-item-119"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-119"><a
                                        href="#">ТАБЛИЦЯ РОЗМІРІВ</a></li>
                                <li id="menu-item-120"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-120">
                                    <a href="javascript:void(0);">КЛІЄНТАМ</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-121"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121">
                                            <a href="#">Питання-відповідь</a></li>
                                        <li id="menu-item-122"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-122">
                                            <a href="#">Доставка і оплата</a></li>
                                        <li id="menu-item-123"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-123">
                                            <a href="#">Повернення товару</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-126"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-126">
                                    <a href="javascript:void(0);">ПАРТНЕРАМ</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-127"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-127">
                                            <a href="#">Гурт. Великий гурт</a></li>
                                        <li id="menu-item-128"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-128">
                                            <a href="#">Дропшипінг</a></li>
                                        <li id="menu-item-129"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129">
                                            <a href="#">Корпоративні замовлення</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-130"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-130"><a
                                        href="#">НОВИНИ</a></li>
                                <li id="menu-item-131"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-131"><a
                                        href="#">ВІДГУКИ</a></li>
                                <li id="menu-item-132"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a
                                        href="#">Контакти</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-container__phone">
                        <a class="contact" href="#">+38 (096) 762-40-96 </a>
                    </div>
                </div>

                <div class="header-container__center-logo">
                    <img src="img/logo.svg" class="logo__img">
                </div>

                <div class="header-container__right">
                    <div class="interface-item">
                        <span class="icon-magnifying-glass interface-item__icon interface-item-search"></span>
                    </div>
                    <div class="interface-item">
                        <span class="icon-heart interface-item__icon "></span>
                        <span class="interface-item__counter">4</span>
                    </div>
                    <div class="interface-item">
                        <a href="#">           <span class="icon-shopping-bag interface-item__icon"></span>
                            <span class="interface-item__counter">4</span></a>

                    </div>
                    <div id="auth_menu" class="interface-item">
                        <span class="icon-user interface-item__icon"></span>
                    </div>

                    <div class="header-container__right-drop-lists">
                        <div class="right-drop-list">
                            <a class="right-drop-list__header">UAH</a>
                            <div class="right-drop-list__container">
                                <div class="widget qtranxs_widget">
                                    <form action="http://test.loc/index.php?route=common/currency/currency"
                                          method="post" enctype="multipart/form-data" id="currency">
                                        <ul class="language-chooser">
<!--                                            <li class="language-chooser-item"><a class="right-drop-list__item"-->
<!--                                                                                 href="EUR">EUR</a></li>-->
                                            <li>
                                                <button class="currency-select right-drop-list__item" type="button"
                                                        name="EUR">UAH
                                                </button>
                                            </li>
                                            <li>
                                                <button class="currency-select right-drop-list__item" type="button"
                                                        name="USD">USD
                                                </button>
                                            </li>
                                        </ul>
                                        <input type="hidden" name="code" value=""/>
                                        <input type="hidden" name="redirect"
                                               value="http://test.loc/index.php?route=common/home"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="right-drop-list">
                            <a class="right-drop-list__header" href="#">UA</a>
                            <!--                            <span class="icon-down-arrow-of-angle"></span>-->
                            <div class="right-drop-list__container">
                                <div class="widget qtranxs_widget">
                                    <ul class="language-chooser">
                                        <li class="language-chooser-item"><a class="right-drop-list__item"
                                                                             href="#">ua</a></li>
                                        <li class="language-chooser-item"><a class="right-drop-list__item"
                                                                             href="#">RU</a></li>
                                        <li class="language-chooser-item"><a class="right-drop-list__item"
                                                                             href="#">EN</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="auth-container"></div>

        <div class="auth auth_hide">
            <div class="auth__sub-head">авторизація
                <span id="auth_close" class="icon-cross-remove-sign"></span>
            </div>
            <div class="auth__container">
                <div class="auth__left">
                    <div class="auth__sub-head2">Вхід</div>
                    <div class="auth__input">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="auth__input">
                        <input type="text" placeholder="Пароль">
                    </div>
                    <div class="auth__divine">
                        <div class="auth__checkbox">
                            <input type="checkbox" id="registerr">
                            <label for="registerr">Показати пароль</label>
                        </div>
                        <div class="auth__forgot">
                            <a href="#">Забули пароль?</a>
                        </div>
                    </div>
                    <div class="auth__login">
                        <a href="#">Вхід</a>
                    </div>
                    <span class="auth__span">Вхід через соц мережі</span>
                    <div class="auth__soc">
                        <div class="auth__facebook">
                            <a href="#">facebook</a>
                        </div>
                        <div class="auth__google">
                            <a href="#">google +</a>
                        </div>
                    </div>
                </div>
                <div class="auth__right">
                    <div class="auth__sub-head2">Реєстрація</div>
                    <div class="auth__input">
                        <input type="text" placeholder="Ім’я">
                    </div>
                    <div class="auth__input">
                        <input type="text" placeholder="Прізвище">
                    </div>
                    <div class="auth__input">
                        <input type="text" placeholder="Телефон">
                    </div>
                    <div class="auth__input">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="auth__input">
                        <input type="text" placeholder="Пароль">
                    </div>
                    <div class="auth__checkbox">
                        <input type="checkbox" id="registers">
                        <label for="registers">Показати пароль</label>
                    </div>
                    <div class="auth__register">
                        <a href="#">Зареєструватись</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="header-menu-container">
                <nav>
                    <div class="top-menu-changer">
                        <span class="top-menu-changer__text">каталог продукції</span>
                        <span class="icon-down-arrow-of-angle top-menu-changer__arrow"></span>
                    </div>
                    <ul class="top-menu">
                        <li class="top-menu__item top-menu__item_dropdown">
                            <a href="#" class="top-menu__item-url">Жінкам</a>
                            <div class="top-menu__item-container">
                                <div class="container">
                                    <div class="top-menu__item-container-inside">
                                        <a href="#" class="top-menu__item-container-item">
                                            <img src="img/woman-1.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Довгі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/woman-2.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Класичні шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/woman-3.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Короткі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/woman-4.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Слід, підслідок
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="top-menu__item top-menu__item_dropdown">
                            <a href="#" class="top-menu__item-url">Чоловікам</a>
                            <div class="top-menu__item-container">
                                <div class="container">
                                    <div class="top-menu__item-container-inside">
                                        <a href="#" class="top-menu__item-container-item">
                                            <img src="img/man-1.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Довгі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/man-2.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Класичні шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/man-3.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Короткі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/man-4.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Слід, підслідок
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="top-menu__item top-menu__item_dropdown">
                            <a href="#" class="top-menu__item-url">Дітям</a>
                            <div class="top-menu__item-container">
                                <div class="container">
                                    <div class="top-menu__item-container-inside">
                                        <a href="#" class="top-menu__item-container-item">
                                            <img src="img/kid-1.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Довгі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/kid-2.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Класичні шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/kid-3.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Короткі шкарпетки
                                        </span>
                                        </a>
                                        <a class="top-menu__item-container-item">
                                            <img src="img/kid-4.svg" class="top-menu__item-container-item-image">
                                            <span class="top-menu__item-container-item-header">
                                            Слід, підслідок
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="top-menu__item">
                            <a href="#" class="top-menu__item-url">SALE</a>
                        </li>
                        <li class="top-menu__item">
                            <a href="#" class="top-menu__item-url">Підписка</a>
                        </li>
                        <li class="top-menu__item">
                            <a href="#" class="top-menu__item-url">Подарункові коробки</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-search">
            <div class="container">
                <div id="search" class="search-container">
                    <span class="">
                        <button type="button"><i class="icon-magnifying-glass"></i></button>
                    </span>
                    <input type="text" name="search" value="" placeholder="Що ви шукаєте?"/>
                    <span class="icon-cross-remove-sign close-icon search-remove-sign"></span>
<!--                    <img src="img/cross-remove-sign.svg" class="search-remove-sign">-->
                </div>
            </div>
        </div>
    </div>
</header>