<header>
    <div class="test">
        <div class="left">

            <img src="img/menu.svg" class="menu">
            <span class="menu-text">MENU</span>
            <span class="menu-tel">+38 (096) 762-40-96</span>

        </div>
        <div class="center">
            <img src="img/logo.svg" class="Logo">

        </div>
        <div class="right">

            <img src="img/magnifying-glass.svg" class="right-magnifying-glass">
            <div class="right-heart-block">
                <img src="img/heart.svg" class="right-heart">
                <div class="right-heart-count">4</div>
            </div>

            <div class="right-shopping-bag-block">
                <img src="img/shopping-bag.svg" class="right-shopping-bag">
                <div class="shopping-bag-count">4</div>
            </div>

            <img src="img/user.svg" class="right-user">


            <div class="more-right">
                <div class="money">
                    <span class="money-text">UAH</span>
                    <img src="img/down-arrow-of-angle.svg" class="money-arrow">
                </div>

                <div class="language">
                    <span class="language-text">UA</span>
                    <img src="img/down-arrow-of-angle.svg" class="language-arrow">
                </div>
            </div>
        </div>
    </div>

<!--    <NAV>-->
    <div class="block-menu">
        <ul class="ul-menu">
            <li>Жінкам</li>
            <li>Чоловікам</li>
            <li>Дітям</li>

            <li class="ul-menu-active"> SALE</li>

            <li>Підписка</li>
            <li>Подарункові коробки</li>
        </ul>
    </div>


</header>